@media screen {
  @import "base/bar";
  @import "base/foo";
  @import "modules/bar";
  @import "modules/foo";
}

.class-test {
  @include opacity(0);
  border-left: 1px solid black;
  // Comment border-top
  border-top: 1px solid red;
  // Comment height
  height: 100%;
  // Comment here.
  #nested-id {
    position: relative;
    z-index: 1;
    &.nested-class-a {
      border: 1px solid yellow;
      margin: 20em;
      position: relative;
    }
  }
  /* #commented-id {
    .nested-style {
        width: 100%;
    }
  } */
}